{% extends 'base.html.twig' %}
{% block title %} Publicite {% endblock %}

<header id="headerwrap" class="dark-wrapper backstretched special-max-height no-overlay">
    <div class="container vertical-center">
        <div class="intro-text vertical-center text-left smoothie">
            <div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Bienvenue a Gitoon</div>
            <div class="intro-sub-heading wow fadeIn secondary-font" data-wow-delay="0.4s">Vous cherchez<span class="rotate"> centres de camping , materiels adequat, evenements</span></div>
        </div>
    </div>
</header>


    <section>
        <div class="masonry-portfolio fixed-filters row">

            <div class="masonry-portfolio-items">
                {%   %}
                <div class="col-md-4 masonry-portfolio-item design nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog1.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="{{ asset('single-portfolio.html') }}" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                {%  %}
                <div class="col-md-4 masonry-portfolio-item photography nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog2.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item video nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog3.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item apps nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog4.jpg') }}assets/img/blog/blog4.jpg" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item design nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog5.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item photography nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog6.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item video nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog7.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 masonry-portfolio-item apps nopadding-lr">
                    <div class="hover-item">
                        <img src="{{ asset('assets/img/blog/blog8.jpg') }}" class="img-responsive smoothie" alt="">
                        <div class="overlay-item-caption smoothie">
                            <h3 class="vertical-center smoothie"><a href="single-portfolio.html" title="view project">Project Title</a></h3>
                        </div>
                        <div class="hover-item-caption smoothie">
                            <div class="vertical-center smoothie">
                                <a href="{{ asset('assets/img/portfolio/portfolio1.jpg') }}" title="View Gallery" class="btn btn-primary btn-white page-scroll lb-link smoothie">Zoom</a>
                                <a href="single-portfolio.html" class="smoothie btn btn-primary btn-white page-scroll">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="opaqued light-opaqued parallax" data-parallax="scroll" data-image-src="assets/img/bg/bg_bw1.jpg" data-speed="0.8">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <ul class="owl-carousel-paged testimonial-owl wow fadeIn list-unstyled" data-items="4" data-items-desktop="[1200,4]" data-items-desktop-small="[980,4]" data-items-tablet="[768,3]" data-items-mobile="[479,2]">
                            <li>
                                <img src="assets/img/logo/logo1.png" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="assets/img/logo/logo2.png" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="assets/img/logo/logo3.png" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="assets/img/logo/logo4.png" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="assets/img/logo/logo5.png" class="img-responsive" alt="">
                            </li>
                            <li>
                                <img src="assets/img/logo/logo6.png" class="img-responsive" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% block body %}
{% endblock %}