{% extends 'layout.html.twig' %}


{% block body %}
<h1>Liste des Réclamations</h1>
<div class="card">
    <div class="card-body">
        <table class="table product-overview " >

            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Objet</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.typeReclamation }}</td>
                    <td>{{ reclamation.objetReclamation }}</td>
                    <td>{{ reclamation.descriptionReclamation }}</td>
                    <td>
                        {{ include('reclamation/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">pas de réclamations</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('genrPdf') }}" type="button" class="btn btn-success"><i
                    class="fa fa-check"></i>  Telecharger Pdf </a>
    </div>
</div>
        {% endblock %}
