{% extends 'layout.html.twig' %}


{% block body %}
    <h1>Détails du reservation de :{{ reservation.client.username }}</h1>
    <div class="card">
        <div class="card-body">

            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ reservation.id }}</td>
                </tr>
                <tr>
                    <td>Client</td>
                    <td>
                        {{ reservation.client.Username }}
                    </td>
                </tr>
                <tr>
                    <td>Client</td>
                    <td>
                        {{ reservation.client.Username }}
                    </td>
                </tr>
                <tr>
                    <td>Centre</td>
                    <td>
                        {{ reservation.centre.nomCentre }}
                    </td>
                </tr>
                <tr>
                    <td>Centre</td>
                    <td>
                        {{ reservation.evenement.descrptionEvent }}
                    </td>
                </tr>
                <tr>
                    <td>QrCode</td>
                    <td>
                        <img style="width:100px; height:100px;" src="{{ reservation.Qrcode }}"/>
                    </td>
                </tr>

                </tbody>
            </table>

            <a href="{{ path('reservation_indexA') }}">retour </a>


            {{ include('reservation/_delete_form.html.twig') }}

            </table>
        </div>
    </div>

{% endblock %}