{% extends 'layout.html.twig' %}

{% block title %}New Centre{% endblock %}

{% block body %}
    <h1>Modifier le centre:{{ centre.nomCentre }}</h1>


    <div class="row">

        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form method="post"  enctype="multipart/form-data">
                        {{ form_start(form) }}

                        <div class="form-group ">
                            <label for="adr"  class="control-label">nom de centre</label>
                            <input class="form-control" type="text" name="nom_centre"  value="{{centre.nomCentre}}" minlength="4" maxlength="50" required>
                        </div>
                        <div class="form-group ">
                            <label for="desc"  class="control-label">description de centre</label>
                            <textarea class="form-control"   rows="4" name="description_centre" minlength="4" maxlength="300" required >{{centre.descriptionCentre}}</textarea>
                        </div>

                        <div class="form-group ">
                            <label for="adr"  class="control-label">Owner </label>
                            <input class="form-control" type="text" name="owner" minlength="4"  value="{{centre.owner}}"maxlength="50" required>
                        </div>
                        <div class="form-group ">
                            <label for="adr"  class="control-label">Addresse</label>
                            <input class="form-control" type="text" id="adr" name="address" value="{{centre.adresse}}" minlength="4" maxlength="50" required>
                        </div>

                        <div class="form-group">
                            <label for="pr" class="control-label">prix centre</label>
                            <input class="form-control" type="number" min="1" minlength="1"  value="{{centre.prixCentre}}"maxlength="5" id="pr" name="prix_centre" required>
                        </div>
                        <div class="form-group ">

                            <label for="ph" class="control-label">Photo</label>
                            <input type="file" id="ph" class="dropify" data-show-remove="false" data-default-file="{{ asset('uploads/')~centre.photoCentre }}" name="photo_centre" accept="image/x-png,image/gif,image/jpeg" />

                        </div>

                        <div class="form-actions">
                            <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i>Modifier</button>
                            <a type="button" class="btn btn-secondary" href="{{ path('centre_index') }}">Annuler</a>
                        </div>
                        {{ form_end (form) }}
                    </form>

                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('centre_index') }}">Liste des centres</a>
{% endblock %}
