{% extends 'layout.html.twig' %}


{% block title %}Centre index{% endblock %}

{% block body %}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />

    <h1>Liste des centres</h1>


        <!-- Column -->
        <div class="col-lg-12">


            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table product-overview" id="myTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Description</th>
                                <th>Propriétaire</th>
                                <th>Adresse</th>
                                <th>Prix</th>
                                <th>Photo</th>
                                <th>actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for centre in centres %}
                                <tr>

                                    <td>{{ centre.id }}</td>
                                    <td>{{ centre.nomCentre }}</td>
                                    <td>{{ centre.descriptionCentre }}</td>

                                    <td>{{ centre.owner }}</td>
                                    <td>{{ centre.adresse }}</td>

                                    <td>{{ centre.prixCentre }}</td>

                                    <td><img src="{{ asset('uploads/')~centre.PhotoCentre }}" alt="iMac" width="80">
                                    </td>


                                    <td><a href="{{ path('centre_show', { 'id':  centre.id }) }}"
                                           title="Afficher" data-toggle="tooltip"><i class="ti-eye"></i></a>

                                        <a href="{{ path('centre_edit', { 'id':  centre.id }) }}"
                                           class="text-inverse p-r-10" data-toggle="tooltip" title="Editer"><i
                                                    class="ti-marker-alt"></i></a>
                                        {{ include('centre/_delete_form.html.twig') }}






                                        <a href=  "{{ path('Pdf', { 'id':  centre.id }) }}"type="button" class="btn btn-success"><i
                                                    class="fa fa-check"></i>  Telecharger Pdf </a>




                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        <a href="{{ path('centre_new') }}" type="button" class="btn btn-info "><i
                                    class="fa fa-plus-circle"></i> Ajouter un centre</a>

                        <a href="{{ path('genrPdf') }}" type="button" class="btn btn-success"><i
                                    class="fa fa-check"></i>  Telecharger Pdf </a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>






<div class="card-group">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <h3><i class="icon-screen-desktop"></i></h3>
                            <p class="text-muted">centers</p>
                        </div>
                        <div class="ml-auto">
                            <h2 class="counter text-primary">
                                <?php

                                    $query = "SELECT count($id) from Centre";
                                    $result = mysql_query($query) or die (mysql_error());
                                    echo $resultat;
                                >
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

 
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <h3><i class="icon-note"></i></h3>
                            <p class="text-muted">nouveau centre</p>
                        </div>
                        <div class="ml-auto">
                            <h2 class="counter text-cyan">169</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="progress">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <h3><i class="icon-doc"></i></h3>
                            <p class="text-muted">NEW INVOICES</p>
                        </div>
                        <div class="ml-auto">
                            <h2 class="counter text-purple">157</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar bg-purple" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex no-block align-items-center">
                        <div>
                            <h3><i class="icon-bag"></i></h3>
                            <p class="text-muted">All PROJECTS</p>
                        </div>
                        <div class="ml-auto">
                            <h2 class="counter text-success">431</h2>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%; height: 6px;" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Column -->
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 680px;
            width: 100%;
        }
    </style>
</head>
<body>
<center><h3>Localisation des centres</h3></center>

<div id="map"></div>
</body>
</html>
            </div>
        </div>
    </div>
</div>

<script>

    function initMap()
    {
        var tunis ={lat: 34.17622317559159, lng: 9.438506479232753 }


        var map = new google.maps.Map(
            document.getElementById('map'), {zoom: 6, center: tunis});



        var features =
            [
                {
                    position: new google.maps.LatLng(36.43852779, 10.70920014),
                    type: 'info'
                },


            ];

        var secretMessages = ['Cell082X:53','Cell082Y:219','Cell082Z:363','Cell032X:29','Cell032Y:511','Cell032Z:482','Cell040X:100','Cell040Y:199','Cell433X:276','Cell433Y:483','Cell005X:357','Cell059X:159','Cell022Y:284','Cell009Y:694','Cell017Y:394','Cell797X:285','Cell797X340','Cell002X:137','Cell003X:190','Cell002y:200'];

// Create markers.
        for (var i = 0; i < features.length; i++)
        {

            var marker = new google.maps.Marker({
                position: features[i].position,

                map: map



            });
            attachSecretMessage(marker, secretMessages[i]);

        };
    }


    // attach Secret Message
    function attachSecretMessage(marker, secretMessage)
    {
        var infowindow = new google.maps.InfoWindow({
            content: secretMessage
        });

        marker.addListener('click', function() {
            infowindow.open(marker.get('map'), marker);
        });
    }


</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuDOSflzbbILJM9mlCo3sVY67bTimtO4Q &callback=initMap">sensor="false"></script>
</script>


</body>
</html>


<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
    <head>
    <meta charset="utf-8">
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Star Rating Form | CodingNepal</title> -->
<link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
    <div class="container">
        <div class="post">
            <div class="text">
                Thanks for rating us!</div>
            <div class="edit">
                EDIT</div>
        </div>
        <div class="star-widget">
            <input type="radio" name="rate" id="rate-5">
            <label for="rate-5" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-4">
            <label for="rate-4" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-3">
            <label for="rate-3" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-2">
            <label for="rate-2" class="fas fa-star"></label>
            <input type="radio" name="rate" id="rate-1">
            <label for="rate-1" class="fas fa-star"></label>
            <form action="#">
                <header></header>
                <div class="textarea">
                    <textare cols="30" placeholder="Describe your experience.."></textare>
                    <!-- Due to more textarea tags I got a problem So I've changed the textarea tag to textare. Please correct it. -->

                    <br />
                    <div class="btn">
                        <button type="submit">Post</button>
                    </div>
                    <script>
                        const btn = document.querySelector("button");
                        const post = document.querySelector(".post");
                        const widget = document.querySelector(".star-widget");
                        const editBtn = document.querySelector(".edit");
                        btn.onclick = ()=>{
                            widget.style.display = "none";
                            post.style.display = "block";
                            editBtn.onclick = ()=>{
                                widget.style.display = "block";
                                post.style.display = "none";
                            }
                            return false;
                        }
                    </script>
    </body>
    </html>














{% endblock %}




