{% extends 'layout.html.twig' %}

{% block title %}Promotion{% endblock %}

{% block body %}
    <h1>Promotion </h1>

    <div class="row page-titles">
        <div class="d-flex justify-content-end align-items-centper">

            <a href="{{ path('promotion_new') }}" type="button" class="btn btn-info "><i
                        class="fa fa-plus-circle"></i>  Ajouter </a>
        </div>
    </div>

    <div class="row">

        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table product-overview" id="myTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titre_promo</th>
                                <th>Description_promo</th>
                                <th>Type_promo</th>
                                <th>Image_promo</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for promotion in promotions %}
                                <tr>
                                    <td>{{ promotion.id }}</td>
                                    <td>{{ promotion.titrePromo }}</td>
                                    <td>{{ promotion.descPromo }}</td>
                                    <td>{{ promotion.typePromo }}</td>
                                    <td><img src="{{ asset('uploads/')~promotion.imagePromo}}" alt="imgpromo" ></td>
                                    <td><a href="{{ path('promotion_show', { 'id':  promotion.id }) }}"
                                           title="Afficher" data-toggle="tooltip"><i class="ti-eye"></i></a>
                                        <a href="{{ path('promotion_edit', { 'id':  promotion.id }) }}"
                                           title="Modifier"  data-toggle="tooltip"  ><i class="ti-marker-alt"></i></a>
                                        <a href="{{ path('promotion_delete', { 'id':  promotion.id }) }}"
                                           title="Supprimer" data-toggle="tooltip"  ><i class="fa fa-close text-danger"></i></a>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="5">Pas de promotion !</td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Stat</h4>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>

{% endblock %}




{% block custom_script %}

    <script>
        $(function () {
            var data = [
                {% for row in countTypes %}
                {
                label: "{{ row.type }}",
                 data: "{{ row.nombre }}"
                 },

                {% endfor %}

            ];
            var plotObj = $.plot($("#flot-pie-chart"), data, {
                series: {
                    pie: {
                        innerRadius: 0.5
                        , show: true
                    }
                }
                , grid: {
                    hoverable: true
                }
                , color: null
                , tooltip: true
                , tooltipOpts: {
                    content: "%p.0%, %s Promo" , // show percentages, rounding to 2 decimal places
                    shifts: {
                        x: 20
                        , y: 0
                    }
                    , defaultTheme: false
                }
            });
        });


    </script>


{% endblock %}


